body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Defina a largura máxima da div conforme necessário */
    min-width: 600px;
    margin: auto; /* Centraliza a div na página */
}

.container h2 {
    font-size: 1.5em;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
}

.container input[type="submit"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 10px #0056b3a3;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.container img {
    display: block;
    margin: 20px auto 0; /* Centraliza a imagem horizontalmente */
    max-width: 70px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}
